node_modules/
dist/
.turbo/
.idea/
.vscode/
.cache/
.DS_Store
/.env
.env.*.local
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage/
build/
/.parcel-cache
/.pnp/*
/.pnp.js
*.local
*.log
public/locales/